<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng Nhập</title>
  </head>
  <body>
    <h1>Đăng Nhập</h1>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      {{ form.as_p }} <!-- Hiển thị form -->
      <button type="submit">Đăng Nhập</button>
    </form>
    <p>Chưa có tài khoản? <a href="{% url 'accounts:register' %}">Đăng ký</a></p>
  </body>
</html>
