{% extends "DashBoard/dashBoard.html" %}
{% load custom_filters %}
{% load static %}
{% block cart_content %}
<div class="row" style="width:100%">
	<div class="col-lg-12">
		<div class="box-element">
			<a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Tiếp tục mua hàng</a>
			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Tổng Sản Phẩm: <strong>{{order.get_cart_items}}</strong></h5></th>
					<th><h5>Tổng Tiền: <strong>{{order.get_cart_total | currency_format}} VND</strong></h5></th>
					<th>
						{% if request.user.is_authenticated and items %}
						<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Thanh Toán</a>
						{% endif %}
					</th>
				</tr>
			</table>

		</div>

		<br>
		<h4 class="text-uppercase"><strong>Danh sách đơn hàng</strong></h4>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:1"></div>
				<div style="flex:2"><strong>Sản phẩm</strong></div>
				<div style="flex:1"><strong>Giá</strong></div>
				<div style="flex:1"><strong>Số lượng</strong></div>
				<div style="flex:1"><strong>Tổng</strong></div>
				<div style="flex:1"></div>
			</div>
			{% for item in items %}
			<div class="cart-row">
				{% if item.product.image and item.product.image.url %}
				<div style="flex:1"><a href="{% url 'detail' %}?id={{ item.product.id }}">
					<img class="row-image" src="{{item.product.image.url}}">
				</a></div>
				{% else %}
				<div style="flex:1"><img class="row-image" src="/static/images/icon/default-product.jpg"></div>
				{% endif %}
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>{{item.product.price | currency_format}} VND</p></div>
				<div style="flex:1">
					<p id="quantity-{{ product.id }}" class="quantity">{{item.quantity}}</p>
					<div class="quantity">
						<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/icon/arrow-up.png' %}">

						<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/icon/arrow-down.png' %}">
					</div>
				</div>
				<div style="flex:1"><p>{{item.get_total | currency_format}} VND</p></div>
				<div style="flex:1"></div>
			</div>
			{% endfor %}
		</div>

		<br>
		<h4 class="text-uppercase"><strong>Danh sách đã mua</strong></h4>
		<div class="box-element">
			<div class="cart-row">
				<div style="flex:1"></div>
				<div style="flex:2"><strong>Sản phẩm</strong></div>
				<div style="flex:1"><strong>Giá</strong></div>
				<div style="flex:1"><strong>Số lượng</strong></div>
				<div style="flex:1"><strong>Thời gian đặt hàng</strong></div>
				<div style="flex:1"></div>
			</div>
			{% for item in purchased_items %}
			<div class="cart-row">
				{% if item.product.image and item.product.image.url %}
				<div style="flex:1"><a href="{% url 'detail' %}?id={{ item.product.id }}">
					<img class="row-image" src="{{item.product.image.url}}">
				</a></div>
				{% else %}
				<div style="flex:1"><img class="row-image" src="/static/images/icon/default-product.jpg"></div>
				{% endif %}
				<div style="flex:2"><p>{{item.product.name}}</p></div>
				<div style="flex:1"><p>{{item.product.price | currency_format}} VND</p></div>
				<div style="flex:1">
					<p id="quantity-{{ item.product.id }}" class="quantity">{{item.quantity}}</p>
				</div>
				<div style="flex:1"><p>{{ item.created_at|date:"d/m/Y H:i" }}</p></div>
				<div style="flex:1">
					<a data-product="{{item.product.id}}" data-action="add" class="btn btn-outline-dark update-cart">Mua lại</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock cart_content %}