{% extends "DashBoard/dashBoard.html" %}
{% load custom_filters %}
{% load static %}
{% block checkout %}
     <div class="row" style="width:100%">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" method="POST" action="{% url 'shopping_address' %}">
					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							{% if name_order %}
								<p>Họ và tên: {{ name_order }}</p>
							{% else %}
								<input required class="form-control" type="text" name="name" placeholder="Họ và tên" value="{{ name_order }}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if phone_number %}
								<p>Số điện thoại: {{ phone_number }}</p>
							{% else %}
								<input required class="form-control" type="text" name="phone_number" placeholder="Số điện thoại" value="{{ phone_number }}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if note %}
								<p>Ghi chú: {{ note }}</p>
							{% else %}
								<textarea class="form-control" name="note" placeholder="Lời nhắn cho Shop" rows="4" style="width: 205%;">{{ note }}</textarea>
							{% endif %}
						</div>

					</div>
					<div id="shipping-info">
						<hr>
						<p>Địa chỉ giao hàng:</p>
						<hr>
						<div class="form-field">
							{% if city %}
								<p>Tỉnh/Thành phố: {{ city }}</p>
							{% else %}
								<input class="form-control" type="text" name="city" placeholder="Tỉnh/Thành phố" value="{{ city }}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if district %}
								<p>Quận/Huyện: {{ district }}</p>
							{% else %}
								<input class="form-control" type="text" name="district" placeholder="Quận/Huyện" value="{{ district }}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if commune %}
								<p>Phường/Xã: {{ commune }}</p>
							{% else %}
								<input class="form-control" type="text" name="commune" placeholder="Phường/Xã" value="{{ commune }}">
							{% endif %}
						</div>
						<div class="form-field">
							{% if address_detail %}
								<p>Tên đường, Toà nhà, Số nhà: {{ address_detail }}</p>
							{% else %}
								<input class="form-control" type="text" name="address" placeholder="Tên đường, Toà nhà, Số nhà" value="{{ address }}">
							{% endif %}
						</div>
					</div>

					<hr>
					<div style="visibility:{{confirm}}">
						<input id="form-button" class="btn btn-success btn-block" type="submit" value="Xác nhận">
					</div>
					<div id="thank-you-message" style="visibility:{{thank_you}}">
						<p><strong>Cảm ơn {{name_order}} đã mua hàng ở Diamond Yasuo.</strong></p>
						<p><strong>Đơn hàng sẽ được giao đến bạn trong thời gian sớm nhất!</strong></p>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Trở về giỏ hàng</a>
				<hr>
				<h3>Danh sách đơn hàng</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:1"><img class="row-image" src="{{item.product.image.url}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p><strong>{{item.product.price | currency_format}} VND</strong></p></div>
					<div style="flex:1"><p> x <strong>{{item.quantity}}</strong></p></div>
				</div>
				{% endfor %}
				<h5>Tổng sản phẩm: {{order.get_cart_items}}</h5>
				<h5>Tổng tiền: <strong>{{order.get_cart_total | currency_format}} VND</strong></h5>
			</div>
		</div>
	</div>
{% endblock checkout %}