<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kim Cương Yasuo</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'Home/styles.css' %}">
  </head>
  <body>
    <header>
      <h1>Kim Cương Yasuo</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#danh-muc">Danh Mục</a>
          <ul>
            <li><a href="#nhan">Nhẫn</a></li>
            <li><a href="#bong-tai">Bông Tai</a></li>
            <li><a href="#day-chuyen">Dây Chuyền</a></li>
            <li><a href="#lac-tay">Lắc Tay</a></li>
            <li><a href="#vong-tay">Vòng Tay</a></li>
          </ul>
        </li>
        <li><a href="#gio-hang">Giỏ Hàng</a></li>
        <li><a href="#khuyen-mai">Khuyến Mãi</a></li>
        <li>
          {% if request.session.customer_id %}
            <a href="{% url 'accounts:profile' %}">Tài khoản</a>
          {% else %}
            <a href="{% url 'accounts:login' %}">Tài khoản</a>
          {% endif %}
        </li>
        <li><a href="#lien-he">Liên Hệ</a></li>
        <li><a href="#tim-kiem">Tìm Kiếm</a></li>
      </ul>
    </nav>
    <main>
      <section id="san-pham-moi">
        <h2>Sản Phẩm Mới Cập Nhật</h2>
        <div id="san-pham-list"></div>
      </section>
      <section id="gio-hang">
        <h2>Giỏ Hàng</h2>
        <div id="gio-hang-chi-tiet">
        </div>
          <p>Tổng số mặt hàng: <span id="tong-so"></span></p>
          <p>Tổng tiền: <span id="tong-tien"></span> VND</p>
      </section>
      <section id="danh-muc">
        <h2>Danh Sách Sản Phẩm Theo Danh Mục</h2>
        <p>Chọn danh mục để xem sản phẩm.</p>
      </section>
      <section id="thong-tin-cong-ty">
        <h2>Thông Tin Công Ty</h2>
        <p>Hiển thị chi tiết thông tin liên hệ của công ty.</p>
      </section>
      <section id="tim-kiem">
        <h2>Tìm Kiếm Sản Phẩm</h2>
        <input
          type="text"
          id="search-input"
          placeholder="Nhập tên sản phẩm..."
        />
        <button id="search-button">Tìm Kiếm</button>
        <div id="search-results"></div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Cửa Hàng Kim Cương</p>
    </footer>
    <script src="{%static 'Home/script.js' %}"></script>
  </body>
</html>
